<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!-- 
  Copyright 2023 Stefan Jung. All rights reserved.
  See the accompanying LICENSE file for applicable license.
-->
<plugin id="org.jung.schematron">
  
  <require plugin="org.jung.graal"/>
  
  <!-- REMINDER: To update ph-schematron, you also need to update build_taskdef_ph-schematron.xml -->
  
  <!-- https://mvnrepository.com/artifact/com.sun.istack/istack-commons-runtime -->
  <feature extension="dita.conductor.lib.import" file="lib/istack-commons-runtime-4.2.0.jar"/>
  
  <!-- https://mvnrepository.com/artifact/jakarta.activation/jakarta.activation-api -->
  <feature extension="dita.conductor.lib.import" file="lib/jakarta.activation-api-2.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/javax.xml.bind/jaxb-api -->
  <feature extension="dita.conductor.lib.import" file="lib/jaxb-api-2.3.1.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.sun.xml.bind/jaxb-core -->
  <feature extension="dita.conductor.lib.import" file="lib/jaxb-core-4.0.4.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.sun.xml.bind/jaxb-impl -->
  <feature extension="dita.conductor.lib.import" file="lib/jaxb-impl-4.0.4.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger/ph-bc -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-bc-9.5.5.jar"/>
  
  <!-- FIXME: Could not find this one -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-charset-9.3.9.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-cli -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-cli-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-collection -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-collection-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-commons -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-commons-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-dao -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-dao-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-datetime -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-datetime-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-graph -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-graph-11.1.2.jar"/>
  
  <!-- FIXME: Could not find this one -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-isorelax-1.1.1.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-jaxb -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-jaxb-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-json -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-json-11.1.2.jar"/>
  
  <feature extension="dita.conductor.lib.import" file="lib/ph-less-commons-9.3.9.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/ph-matrix-9.3.9.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/ph-scopes-9.3.9.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/ph-security-9.3.9.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/ph-settings-9.3.9.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/ph-tree-9.3.9.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/ph-wsclient-9.3.9.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/ph-xml-9.3.9.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/ph-schematron-5.4.0.jar"/>
  <feature extension="dita.conductor.lib.import" file="lib/ph-schematron-ant-task-5.4.0.jar"/>
  
  <feature extension="dita.xsl.messages" file="resources/messages.xml"/>
  <feature extension="dita.conductor.target.relative" file="build.xml"/>
  <feature extension="depend.preprocess.post" value="schematron-validation"/>
  
  <transtype name="base" abstract="true" desc="Common">
    <param name="schematron.processing.engine" desc="Engine used to validate DITA maps and topics" type="enum">
      <val default="true" desc="Schematron engine">schematron</val>
      <val desc="XSLT engine">xslt</val>
      <val desc="Pure engine">pure</val>
    </param>
    <param name="schematron.map.validation.files" desc="Comma separated list of Schematron files for map validation" type="file"/>
    <param name="schematron.topic.validation.files" desc="Comma separated list of Schematron files for topic validation" type="file"/>
    <param name="schematron.fail" desc="Indicates, whether the build should fail, if a role fires with a certain role level." type="enum">
      <val default="true">true</val>
      <val>false</val>
    </param>
    <param name="schematron.failon.fatal" desc="Indicates, whether the build should fail, if a Schematron rule with role 'fatal' is fired." type="enum">
      <val default="true">true</val>
      <val>false</val>
    </param>
    <param name="schematron.failon.error" desc="Indicates, whether the build should fail, if a Schematron rule with role 'error' is fired." type="enum">
      <val default="true">true</val>
      <val>false</val>
    </param>
    <param name="schematron.failon.warning" desc="Indicates, whether the build should fail, if a Schematron rule with role 'warning' is fired." type="enum">
      <val>true</val>
      <val default="true">false</val>
    </param>
    <param name="schematron.failon.info" desc="Indicates, whether the build should fail, if a Schematron rule with role 'info' is fired." type="enum">
      <val>true</val>
      <val default="true">false</val>
    </param>
    <param name="schematron.svrl.dir" desc="Directory where the SVRL file should be stored." type="dir"/>
  </transtype>
  
</plugin>
