<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="dita-ot/plugin.rnc" type="application/relax-ng-compact-syntax"?>
<!-- 
  Copyright 2023 Stefan Jung. All rights reserved.
  See the accompanying LICENSE file for applicable license.
-->
<plugin id="org.jung.schematron">
  
  <require plugin="org.jung.graal"/>
  
<!--  This is what you need, according to mvn dependency:tree:
  
  DONE [INFO] -\-\- dependency:3.6.0:tree (default-cli) @ ph-schematron-ant-task -\-\-
  DONE [INFO] com.helger.schematron:ph-schematron-ant-task:jar:7.1.3-SNAPSHOT
  DONE [INFO] +- com.helger.commons:ph-commons:jar:11.1.2:compile
  DONE [INFO] |  +- com.google.code.findbugs:jsr305:jar:3.0.2:compile
  SHIPPED WITH OT [INFO] |  \- org.slf4j:slf4j-api:jar:2.0.7:compile
  DONE [INFO] +- com.helger.schematron:ph-schematron-xslt:jar:7.1.3-SNAPSHOT:compile
  DONE [INFO] |  \- com.helger.schematron:ph-schematron-api:jar:7.1.3-SNAPSHOT:compile
  DONE [INFO] |     +- com.helger.commons:ph-xml:jar:11.1.2:compile
  DONE [INFO] |     +- com.helger.commons:ph-jaxb:jar:11.1.2:compile
  DONE [INFO] |     +- com.helger.xsd:ph-xsds-xml:jar:3.0.0:compile
  SHIPPED WITH OT [INFO] |     \- net.sf.saxon:Saxon-HE:jar:11.6:compile
  SHIPPED WITH OT [INFO] |        +- org.xmlresolver:xmlresolver:jar:5.2.1:compile
  DONE [INFO] |        |  +- org.apache.httpcomponents.client5:httpclient5:jar:5.1.3:runtime
  DONE [INFO] |        |  |  +- org.apache.httpcomponents.core5:httpcore5-h2:jar:5.1.3:runtime
  DONE [INFO] |        |  |  \- commons-codec:commons-codec:jar:1.15:runtime
  DONE [INFO] |        |  \- org.apache.httpcomponents.core5:httpcore5:jar:5.1.3:runtime
  SHIPPED WITH OT [INFO] |        \- org.xmlresolver:xmlresolver:jar:data:5.2.1:compile
  DONE [INFO] +- com.helger.schematron:ph-schematron-schxslt:jar:7.1.3-SNAPSHOT:compile
  DONE [INFO] |  \- name.dmaus.schxslt:schxslt:jar:1.9.5:compile
  DONE [INFO] +- com.helger.schematron:ph-schematron-pure:jar:7.1.3-SNAPSHOT:compile
  SHIPPED WITH OT [INFO] +- org.apache.ant:ant:jar:1.10.14:provided
  NOT SURE [INFO] |  \- org.apache.ant:ant-launcher:jar:1.10.14:provided
  SHIPPED WITH OT [INFO] +- org.apache.ant:ant-apache-resolver:jar:1.10.14:provided
  SHIPPED WITH OT [INFO] |  \- xml-resolver:xml-resolver:jar:1.2:provided
  SHIPPED WITH OT [INFO] +- org.slf4j:slf4j-simple:jar:2.0.7:compile
  DONE [INFO] +- com.sun.xml.bind:jaxb-impl:jar:4.0.3:compile
  DONE [INFO] |  \- com.sun.xml.bind:jaxb-core:jar:4.0.3:compile
  DONE [INFO] |     +- jakarta.xml.bind:jakarta.xml.bind-api:jar:4.0.0:compile
  DONE [INFO] |     |  \- jakarta.activation:jakarta.activation-api:jar:2.1.2:compile
  DONE [INFO] |     \- org.eclipse.angus:angus-activation:jar:2.0.1:runtime
  
-->  
  
  <!-- https://mvnrepository.com/artifact/com.google.code.findbugs/jsr305 -->
  <feature extension="dita.conductor.lib.import" file="lib/jsr305-3.0.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.xsd/ph-xsds-xml/3.0.0 -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-xsds-xml-3.0.0.jar"/>
  
  <!-- https://mvnrepository.com/artifact/org.apache.httpcomponents.client5/httpclient5 -->
  <feature extension="dita.conductor.lib.import" file="lib/httpclient5-5.1.3.jar"/>
  
  <!-- https://mvnrepository.com/artifact/org.apache.httpcomponents.core5/httpcore5-h2 -->
  <feature extension="dita.conductor.lib.import" file="lib/httpcore5-h2-5.1.3.jar"/>
  
  <!-- https://mvnrepository.com/artifact/commons-codec/commons-codec -->
  <feature extension="dita.conductor.lib.import" file="lib/commons-codec-1.15.jar"/>
  
  <!-- https://mvnrepository.com/artifact/org.apache.httpcomponents.core5/httpcore5 -->
  <feature extension="dita.conductor.lib.import" file="lib/httpcore5-5.1.3.jar"/>
  
  <!-- https://mvnrepository.com/artifact/name.dmaus.schxslt/schxslt -->
  <feature extension="dita.conductor.lib.import" file="lib/schxslt-1.9.5.jar"/>
  
  <!-- This does not work properly in the DITA-OT environment -->
  <!-- https://repo1.maven.org/maven2/com/helger/ph-schematron-ant-task/ -->
  <!-- <feature extension="dita.conductor.lib.import" file="lib/ph-schematron-ant-task-5.6.5-jar-with-dependencies.jar"/> -->
  
  
  <!-- https://mvnrepository.com/artifact/com.sun.istack/istack-commons-runtime -->
  <!--<feature extension="dita.conductor.lib.import" file="lib/istack-commons-runtime-4.2.0.jar"/>-->
  
  <!-- https://mvnrepository.com/artifact/jakarta.activation/jakarta.activation-api -->
  <feature extension="dita.conductor.lib.import" file="lib/jakarta.activation-api-2.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/jakarta.xml.bind/jakarta.xml.bind-api -->
  <feature extension="dita.conductor.lib.import" file="lib/jakarta.xml.bind-api-4.0.0.jar"/>
  
  <!-- https://mvnrepository.com/artifact/org.eclipse.angus/angus-activation -->
  <feature extension="dita.conductor.lib.import" file="lib/angus-activation-2.0.1.jar"/>
  
  <!-- https://mvnrepository.com/artifact/javax.xml.bind/jaxb-api -->
  <!--<feature extension="dita.conductor.lib.import" file="lib/jaxb-api-2.3.1.jar"/>-->
  
  <!-- https://mvnrepository.com/artifact/com.sun.xml.bind/jaxb-core -->
  <feature extension="dita.conductor.lib.import" file="lib/jaxb-core-4.0.3.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.sun.xml.bind/jaxb-impl -->
  <feature extension="dita.conductor.lib.import" file="lib/jaxb-impl-4.0.3.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger/ph-bc -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-bc-11.1.2.jar"/>
  
  <!-- https://repo1.maven.org/maven2/com/helger/schematron/ph-schematron-api -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-schematron-api-7.1.2.jar"/>
  
  <!-- https://repo1.maven.org/maven2/com/helger/schematron/ph-schematron-pure -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-schematron-pure-7.1.2.jar"/>
  
  <!-- https://repo1.maven.org/maven2/com/helger/schematron/ph-schematron-schxslt -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-schematron-schxslt-7.1.2.jar"/>
  
  <!-- https://repo1.maven.org/maven2/com/helger/schematron/ph-schematron-testfiles -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-schematron-testfiles-7.1.2.jar"/>
  
  <!-- https://repo1.maven.org/maven2/com/helger/schematron/ph-schematron-validator -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-schematron-validator-7.1.2.jar"/>
  
  <!-- https://repo1.maven.org/maven2/com/helger/schematron/ph-schematron-xslt -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-schematron-xslt-7.1.2.jar"/>
  
  <!-- This is no longer needed -->
  <!-- https://mvnrepository.com/artifact/com.helger/ph-charset -->
  <!--<feature extension="dita.conductor.lib.import" file="lib/ph-charset-9.5.5.jar"/>-->
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-cli -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-cli-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-collection -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-collection-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-commons -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-commons-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-dao -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-dao-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-datetime -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-datetime-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-graph -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-graph-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger/ph-isorelax -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-isorelax-1.1.1.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-jaxb -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-jaxb-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-json -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-json-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-less-commons -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-less-commons-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-matrix -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-matrix-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-scopes -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-scopes-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-security -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-security-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-settings -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-settings-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-tree -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-tree-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-wsclient -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-wsclient-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.commons/ph-xml -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-xml-11.1.2.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger/ph-schematron -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-schematron-5.6.5.jar"/>
  
  <!-- https://mvnrepository.com/artifact/com.helger.schematron/ph-schematron-ant-task -->
  <feature extension="dita.conductor.lib.import" file="lib/ph-schematron-ant-task-7.1.2.jar"/>
  
  <feature extension="dita.xsl.messages" file="resources/messages.xml"/>
  <feature extension="ant.import" file="build.xml"/>
  <feature extension="depend.preprocess.post" value="schematron-validation"/>
  
  <transtype name="base" abstract="true" desc="Common">
    <param name="schematron.processing.engine" desc="Engine used to validate DITA maps and topics" type="enum">
      <val default="true" desc="Schematron engine">schematron</val>
      <val desc="XSLT engine">xslt</val>
      <val desc="Pure engine">pure</val>
    </param>
    <param name="schematron.map.validation.files" desc="Comma separated list of Schematron files for map validation" type="file"/>
    <param name="schematron.topic.validation.files" desc="Comma separated list of Schematron files for topic validation" type="file"/>
    <param name="schematron.fail" desc="Indicates, whether the build should fail, if a role fires with a certain role level." type="enum">
      <val default="true">true</val>
      <val>false</val>
    </param>
    <param name="schematron.failon.fatal" desc="Indicates, whether the build should fail, if a Schematron rule with role 'fatal' is fired." type="enum">
      <val default="true">true</val>
      <val>false</val>
    </param>
    <param name="schematron.failon.error" desc="Indicates, whether the build should fail, if a Schematron rule with role 'error' is fired." type="enum">
      <val default="true">true</val>
      <val>false</val>
    </param>
    <param name="schematron.failon.warning" desc="Indicates, whether the build should fail, if a Schematron rule with role 'warning' is fired." type="enum">
      <val>true</val>
      <val default="true">false</val>
    </param>
    <param name="schematron.failon.info" desc="Indicates, whether the build should fail, if a Schematron rule with role 'info' is fired." type="enum">
      <val>true</val>
      <val default="true">false</val>
    </param>
    <param name="schematron.svrl.dir" desc="Directory where the SVRL file should be stored." type="dir"/>
  </transtype>
  
</plugin>
